<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ihc_menuapp">

    <application xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/applog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".billeteNumero"
            android:exported="false" />
        <activity
            android:name=".recon_voz"
            android:exported="false" />
        <activity
            android:name=".get_number"
            android:exported="false" />
        <activity
            android:name=".SalidaDinero"
            android:exported="false" />
        <activity
            android:name=".NumeroBillete"
            android:exported="false" />
        <activity
            android:name=".prueba"
            android:exported="false" />
        <activity
            android:name=".menu_inicial"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>